* {
  box-sizing: border-box;
  line-height: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
/* HEADER */

.navigation:hover {
  background-color: #2a304a;
  z-index: 1;
}

.navigation {
  height: 74px;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.navigation-wraper {
  display: flex;
  align-items: center;
  letter-spacing: 5.6px;
  font-size: 18px;
  color: #ffffff;
  padding-left: 5px;
}

.navigation-wraper-web {
  color: #000000;
  background-color: #ffffff;
  margin-right: 5px;
  padding-left: 5px;
  font-weight: bolder;
}

.navigation-text {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  letter-spacing: 5.6px;
}

img {
  cursor: pointer;
}

.header {
  position: relative;
  color: #ffffff;
  font-weight: bolder;
  background-image: url(../media/android.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 702px;
  width: 100%;
}

.header-hidden {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
}

.header-hidden-close {
  text-align: right;
  cursor: pointer;
  padding: 20px 20px 0 0;
  font-size: 30px;
  font-weight: bolder;
}

.header-hidden-list {
  list-style-type: none;
  text-align: center;
  line-height: 70px;
  font-weight: bolder;
  font-size: 40px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

.header-background {
  background-color: #7d3e9b;
  opacity: 0.6;
  height: 702px;
}

.header-background_text {
  padding: 0 5% 0 5%;
  width: 100%;
  height: 702px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.header-background_text_hello {
  font-size: 72px;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
}

.header-background_text_group {
  padding-top: 35px;
  color: #ffffff;
  font-weight: bold;
  width: 80%;
}

.header-background_text_group-span {
  padding-right: 20px;
  font-size: 16px;
}
/* HEADER END */

/* WRRAPER START */
.wraper-container {
  height: 520px;
}

.java {
  background-image: url(../media/phone.jpg);
  width: 30%;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  height: 520px;
}

.android {
  background-color: #232943;
  width: 70%;
  float: left;
  color: #ffffff;
  font-weight: bolder;
  height: 520px;
}

.android-wrap {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10%;
  height: 520px;
  opacity: 0.9;
}

.android-wrap-title {
  border-bottom: 1px solid #ffffff;
  font-size: 22px;
  width: 50%;
  font-weight: bolder;
  padding-bottom: 10px;
}

.android-wrap-text {
  font-size: 16px;
  font-weight: normal;
}

.dev {
  background: #2a304a;
  width: 70%;
  float: left;
  color: #ffffff;
  font-weight: bolder;
  height: 520px;
}

.dev-wrap {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10%;
  height: 520px;
  opacity: 0.9;
}

.dev-wrap-title {
  border-bottom: 1px solid #ffffff;
  font-size: 22px;
  width: 50%;
  font-weight: bolder;
  padding-bottom: 10px;
}

.dev-wrap-text {
  font-size: 16px;
  font-weight: normal;
}

.ios {
  background-image: url(../media/phone.jpg);
  width: 30%;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  height: 520px;
}

.angular {
  background-image: url(../media/phone.jpg);
  width: 30%;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  height: 520px;
}

.qa {
  background: #232943;
  width: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  color: #ffffff;
  font-weight: bolder;
  height: 520px;
}

.qa-wrap {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10%;
  height: 520px;
  opacity: 0.9;
}

.qa-wrap-title {
  border-bottom: 1px solid #ffffff;
  font-size: 22px;
  width: 50%;
  font-weight: bolder;
  padding-bottom: 10px;
}

.qa-wrap-text {
  font-size: 16px;
  font-weight: normal;
}
/* WRAPER END */

/* WRAPER-TEXT START */
.block {
  width: 100%;
  height: 454px;
  background: #2a304a;
}

.block-text {
  background-color: #2a304a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 5% 0 5%;
  height: 454px;
}

.block-text-title {
  border-bottom: 2px solid #ffffff;
  width: 50%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 40px;
}

.block-text-text {
  padding-bottom: 30px;
  font-size: 16px;
}

.block-text-button {
  background-color: #2a304a;
  border: 1px solid #ffffff;
  display: inline-flex;
  align-items: center;
  color: #ffffff;
}

.r {
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  font-weight: bolder;
}
/* WRAPER-TEXT END */

/* CONTACT START */

.contact {
  background-color: #232943;
  color: #ffffff;
  border-bottom: 2px solid #232943;
}

.contact-form {
  width: 60%;
  float: left;
  padding: 95px 50px;
}

.contact-form-wrap p {
  font-size: 16px;
  font-weight: bolder;
}

.contact-form-wrap-text {
  width: 50%;
  padding-right: 15px;
  float: left;
}

[type="text"] {
  height: 62px;
  width: 390px;
  width: 100%;
  background-color: #2a304a;
  border: none;
  color: #ffffff;
}

.contact-form-wrap-email {
  width: 50%;
  float: left;
}

[type="email"] {
  height: 62px;
  width: 390px;
  width: 100%;
  background-color: #2a304a;
  border: none;
  color: #ffffff;
}

.contact-form-wrap-msg {
  float: left;
  width: 100%;
}

[type="textarea"] {
  height: 256px;
  width: 814px;
  width: 100%;
  background-color: #2a304a;
  border: none;
  color: #ffffff;
}

.b {
  background-color: #2a304a;
  margin-top: 20px;
  color: #ffffff;
  height: 64px;
  width: 130px;
  margin-right: 10px;
  outline: none;
  border: 1px solid white;
}

.b:hover {
  background-color: #ffffff;
  padding: 10px;
  color: black;
}

.contact-data {
  width: 40%;
  float: left;
  border-left: 2px solid #2a304a;
  display: flex;
  flex-direction: column;
  height: 705px;
}

.contact-data-email {
  border-bottom: 2px solid #2a304a;
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.contact-data-email-image {
  float: left;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.contact-data-email-text {
  float: left;
  font-size: 10px;
}

.contact-data-email-text-title {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.contact-data-phone {
  border-bottom: 2px solid #2a304a;
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.contact-data-phone-image {
  float: left;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.contact-data-phone-text {
  float: left;
  font-size: 10px;
}

.contact-data-phone-text-title {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.contact-data-adress {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.contact-data-adress-image {
  float: left;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.contact-data-adress-text {
  float: left;
  font-size: 10px;
}

.contact-data-adress-text-title {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.clear {
  clear: both;
}
/* CONTACT END */

/* LOGO START*/

.logo {
  display: flex;
  background-color: #232943;
  padding-left: 50px;
  height: 255px;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid #2a304a;
}

.logo_image {
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 20px;
  height: 45px;
  width: 45px;
}
/* LOGO END */
