@media only screen and (max-width: 678px) {
  .header-background_text_group {
    display: flex;
    flex-direction: column;
  }

  .header-background_text_group-span {
    padding-top: 40px;
  }

  .header-background_text_group-buton {
    margin-top: 20px;
    margin-left: 0;
    width: 130px;
  }

  .java,
  .android,
  .dev,
  .ios,
  .angular,
  .qa {
    width: 100%;
  }
  .wraper {
    height: 3148px;
  }
  .block {
    height: 650px;
    padding-top: 100px;
  }

  .contact-form {
    width: 100%;
    padding: 50px 50px;
  }

  .contact-form-wrap {
    width: 100%;
  }

  .contact-form-wrap-text {
    float: none;
    width: 100%;
    padding: 0;
  }

  .contact-form-wrap-email {
    width: 100%;
    float: none;
  }

  .contact-form-wrap-msg {
    width: 100;
    float: none;
  }

  .contact-data {
    width: 100%;
    border: none;
    height: 483px;
  }

  .contact-data-email {
    border-top: 2px solid #2a304a;
  }

  .wraper-container {
    height: 1050px;
  }

  .wraper-container {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto;
    grid-template-areas:
      "i"
      "j"
      "a"
      "d"
      "an"
      "q";
  }

  .j {
    grid-area: j;
  }

  .a {
    grid-area: a;
  }

  .d {
    grid-area: d;
  }

  .i {
    grid-area: i;
  }

  .an {
    grid-area: an;
  }

  .q {
    grid-area: q;
  }

  .block-text-title,
  .android-wrap-title,
  .dev-wrap-title,
  .qa-wrap-title {
    width: 100%;
  }

  .logo {
    height: 130px;
  }
  .contact-data-adress {
    border: none;
  }
}
