<!DOCTYPE html>
<html>

<head>
    <title>Project</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script src="js/hello.js"></script>
</head>

<body>

    <div class="wrapper">
        {{> partials/header}}
        {{> partials/wraper}}
        {{> partials/wraper-text}}
        {{> partials/contact}}
        {{> partials/logo}}
    </div>
</body>

</html>