<div class="contact">

    <div class="contact-form">

        <form class="contact-form-wrap">

            <div class="contact-form-wrap-text">
                <p>NAME,&nbsp; SURNAME</p>
                <input id="myText" type="text" value="">
            </div>

            <div class="contact-form-wrap-email">
                <p>E-MAIL</p>
                <input id="myEmail" type="email" value="">
            </div>

            <div class="contact-form-wrap-msg">
                <p>MESSAGE</p>
                <input id="myMessage" type="textarea" value="">
            </div>
        </form>

        <button type="submit" class="submitValue" onclick="sendData()">SEND</button>
        <button type="reset">CLEAR</button>
        <div class="clear" type="reset"></div>

    </div>

    <div class="contact-data">

        <div class="contact-data-email">
            <img class="contact-data-email-image" src="media/email.png" />
            <div class="contact-data-email-text">
                <div class="contact-data-email-text-title">E-mail</div>
                <div>lorem@ipsum.com</div>
            </div>
        </div>

        <div class="contact-data-phone">
            <img class="contact-data-phone-image" src="media/phone.png" />
            <div class="contact-data-phone-text">
                <div class="contact-data-phone-text-title">Phone</div>
                <div>+40 1234567</div>
            </div>
        </div>

        <div class="contact-data-adress">
            <img class="contact-data-adress-image" src="media/home.png" />
            <div class="contact-data-adress-text">
                <div class="contact-data-adress-text-title">Adress:</div>
                <div>Romania,Iasi</div>
                <div>Street: Stefan cel Mare</div>
                <div>nr.21</div>
            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
</div>