<div class="navigation">

    <div class="navigation-wraper">
        <span class="navigation-wraper-web">WEB</span>
        <span>Devlopment</span>
    </div>

    <div class="navigation-text">
        <span>MENU</span>
        <img onclick="openMenu()" src=" media/hamburger.png">
    </div>

</div>

<div class="header">

    <div id="hide" class="header-hidden">
        <div class="header-hidden-close" onclick="closeMenu()">X</div>
        <ul class="header-hidden-list">
            <li class="li"><a class="aur" href="../index.html">Main</a></li>
            <li><a class="aur" href="../pageOne/index.html">Android</a></li>
            <li>Contact</li>
        </ul>
    </div>

    <div class="header-background">

        <div class="header-background_text">
            <div class="header-background_text_hello">Hello! I'm the final project</div>
            <div class="header-background_text_group">
                <span class="header-background_text_group-span">WEB DEVELOPMENT</span>
                <span class="header-background_text_group-span"> GROUP 10</span>
                <button class="header-background_text_group-buton">
                    <span>Let's Start</span>
                    <img class="header-background_text_group-buton-arrow" src="media/arrow.png">
                </button>
            </div>

        </div>

    </div>

</div>