<div class="logo">
    <img class="logo_image" src="media//twitter.png">
    <img class="logo_image" src="media//facebook.png">
    <img class="logo_image" src="media//instagram.png">
    <img class="logo_image" src="media//linkedin.png">
</div>