<div class="wraper">

    <div class="wraper-container">

        <div class="java">
            <div class="java-wrap">
                <div class="java-wrap-title">Java</div>
                <p class="java-wrap-text">Java is used to develop mobile apps,web apps,desktop
                    apps,games and more...</p>
            </div>
        </div>

        <div class="android">
            <div class="android-wrap">
                <div class="android-wrap-title">Android</div>
                <p class="android-wrap-text">Java is the recomended language for developing android
                    apps,and this quick refference will help you get up
                    to speed with the asics of the language.</p>
            </div>
        </div>

    </div>

    <div class="wraper-container">

        <div class="dev">
            <div class="dev-wrap">
                <div class="dev-wrap-title">eeeWeb Development</div>
                <p class="dev-wrap-text">Web development is the work involved in developing an
                    web site for the internet(World Wide Web) or an intranet
                    (a private network)</p>
            </div>
        </div>

        <div class="ios">
            <div class="ios-wrap">
                <div class="ios-wrap-title">Ios</div>
                <p class="ios-wrap-text">A hands-on introduction to ios app development
                    using swift</p>
            </div>
        </div>
    </div>

    <div class="wraper-container">

        <div class="angular">
            <div class="angular-wrap">
                <div class="angular-wrap-title">Angular JS</div>
                <p class="angular-wrap-text">Angular is a platform for building mobile and desktop
                    web aplications.Join the comunity of millions of developers
                    who build compeling user interfaces with...</p>
            </div>
        </div>

        <div class="qa">
            <div class="qa-wrap">
                <div class="qa-wrap-title">QA</div>
                <p class="qa-wrap-text">Understanding the customers priority for quality assurance
                    while developing software products and strategic planning
                    to execute it is a central...</p>
            </div>
        </div>
    </div>
</div>