@import "partials/variable/variables";
.contact {
  background-color: #232943;
  color: #ffffff;
  border-bottom: 2px solid #232943;
  height: 792px;

  &-form {
    width: 60%;
    float: left;
    padding: 95px 50px;

    .contact-form-wrap p {
      font-size: 16px;
      font-weight: bolder;
    }

    &-wrap {
      &-text {
        width: 50%;
        padding-right: 15px;
        float: left;

        [type="text"] {
          height: 62px;
          width: 390px;
          @include form-type;
        }
      }

      &-email {
        width: 50%;
        float: left;

        [type="email"] {
          height: 62px;
          width: 390px;
          @include form-type;
        }
      }

      &-msg {
        float: left;
        width: 100%;

        [type="textarea"] {
          height: 256px;
          width: 814px;
          @include form-type;
        }
      }
    }

    button {
      background-color: #2a304a;
      margin-top: 20px;
      color: #ffffff;
      height: 64px;
      width: 130px;
      margin-right: 10px;
      outline: none;
      border: 1px solid white;
    }

    button:hover {
      background-color: #ffffff;
      padding: 10px;
      color: black;
    }
  }

  &-data {
    width: 40%;
    float: left;
    border-left: 2px solid #2a304a;
    display: flex;
    flex-direction: column;
    height: 792px;

    &-email {
      @include contact;
    }

    &-phone {
      @include contact;
    }

    &-adress {
      @include contact;
    }
  }
}

.clear {
  clear: both;
}
