@import "partials/variable/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.navigation:hover {
  background-color: #2a304a;
  z-index: 1;
}

.navigation {
  height: 74px;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  &-wraper {
    display: flex;
    align-items: center;
    letter-spacing: 5.6px;
    font-size: 18px;
    color: #ffffff;
    padding-left: 5px;

    &-web {
      color: #000000;
      background-color: #ffffff;
      margin-right: 5px;
      padding-left: 5px;
      font-weight: bolder;
    }
  }

  &-text {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    letter-spacing: 5.6px;

    img {
      cursor: pointer;
    }
  }
}
.header {
  position: relative;
  color: #ffffff;
  font-weight: bolder;
  background-image: url(../media/web.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 702px;
  width: 100%;

  &-hidden {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;

    &-close {
      text-align: right;
      cursor: pointer;
      padding: 20px 20px 0 0;
      font-size: 30px;
      font-weight: bolder;
    }

    &-list {
      list-style-type: none;
      text-align: center;
      line-height: 70px;
      font-weight: bolder;
      font-size: 40px;
      cursor: pointer;

      .aur:hover {
        color: red;
      }

      .aur {
        text-decoration: none;
        color: white;
      }
    }
  }

  &-background {
    background-color: #212c6d;
    opacity: 0.6;
    height: 702px;

    &_text {
      padding: 0 5% 0 5%;
      width: 100%;
      height: 702px;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;

      &_hello {
        font-size: 72px;
        border-bottom: 2px solid #ffffff;
        padding-bottom: 10px;
      }

      &_group {
        padding-top: 25px;
        color: #ffffff;
        font-weight: bold;

        &-span {
          padding-right: 20px;
          font-size: 16px;
        }

        &-buton {
          margin-left: 10px;
          background-color: inherit;
          text-align: center;
          @include button;
          font-size: 16px;
        }
      }
    }
  }
}
