.logo {
  display: flex;
  background-color: #232943;
  padding-left: 50px;
  height: 255px;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid #2a304a;

  &_image {
    cursor: pointer;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 20px;
    height: 45px;
    width: 45px;
  }
}
