@media only screen and (max-width: 678px) {
  .header {
    &-background {
      &_text {
        &_hello {
          font-size: 34px;
          text-align: center;
        }

        &_group {
          display: flex;
          flex-direction: column;

          &-span {
            padding-top: 40px;
          }

          &-buton {
            margin-top: 20px;
            margin-left: 0;
            width: 130px;
          }
        }
      }
    }
  }

  .wraper {
    height: 3120px;

    .wraper-container {
      .java,
      .android,
      .dev,
      .ios,
      .angular,
      .qa {
        width: 100%;
      }
    }
  }

  .block-text {
    &-title {
      width: 100%;
      font-size: 28px;
    }
  }

  .contact {
    height: 1233px;

    &-form {
      width: 100%;

      button {
        width: 50%;
        float: left;
        margin: 0;
        margin-top: 20px;
      }

      &-wrap {
        width: 100%;

        &-text {
          float: none;
          width: 100%;
          padding: 0;
        }

        &-email {
          width: 100%;
          float: none;
        }

        &-msg {
          width: 100;
          float: none;
        }
      }
    }

    &-data {
      width: 100%;
      border: none;
      height: 425px;

      &-email {
        border-top: 2px solid #2a304a;
      }
    }
  }

  .logo {
    height: 120px;
  }
}
