@import "partials/variable/variables";

.wraper {
  height: 1560px;

  .wraper-container {
    height: 520px;

    .java {
      background-image: url(../media/java.jpg);
      width: 40%;
      @include wraper-lang;

      &-wrap {
        background-color: #6fc3df;
        @include language;
      }
    }

    .android {
      background-image: url(../media/android.jpg);
      width: 60%;
      @include wraper-lang;

      &-wrap {
        background-color: #8d82c4;
        @include language;
      }
    }

    .dev {
      background-image: url(../media/web.jpg);
      width: 60%;
      @include wraper-lang;

      &-wrap {
        background-color: #ec8d81;
        @include language;
      }
    }

    .ios {
      background-image: url(../media/ios.jpg);
      width: 40%;
      @include wraper-lang;

      &-wrap {
        background-color: #e7b788;
        @include language;
      }
    }

    .angular {
      background-image: url(../media/angular.jpg);
      width: 40%;
      @include wraper-lang;

      &-wrap {
        background-color: #8ea9e8;
        @include language;
      }
    }

    .qa {
      background-image: url(../media/java.jpg);
      width: 60%;
      @include wraper-lang;

      &-wrap {
        background-color: #87c5a4;
        @include language;
      }
    }
  }

  .java-wrap:hover,
  .android-wrap:hover,
  .dev-wrap:hover,
  .ios-wrap:hover,
  .angular-wrap:hover,
  .qa-wrap:hover {
    @include wrap-hover;
  }
}
