@import "partials/variable/variables";
.block {
  width: 100%;
  height: 680px;

  &-text {
    background-color: #2a304a;
    color: #ffffff;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 5% 0 5%;

    &-title {
      border-bottom: 2px solid #ffffff;
      width: 55%;
      padding-bottom: 10px;
      margin-bottom: 20px;
      font-size: 40px;
    }

    &-text {
      padding-bottom: 30px;
      font-size: 16px;
    }

    &-button {
      background-color: #2a304a;
      @include button;
    }
  }
}
