* {
  box-sizing: border-box;
}
table {
  border: 1px solid #000000;
  border-collapse: collapse;
  width: 100%;
}
tr:nth-child(1) {
  background: #8dd78d;
}
tr,
td {
  border: 1px solid #000000;
  text-align: center;
}
input {
  flex: 1;
}
#formContainer {
  margin: 1% 0 1% 0;
}
form {
  display: flex;
}
#btn {
  margin: 0 auto;
  width: 20%;
  display: flex;
}
button {
  flex: 1;
  margin-right: 1%;
  font-weight: bold;
}
