@mixin wraper-lang {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  color: #ffffff;
  font-weight: bolder;
  height: 520px;
}

@mixin wraper-title {
  padding-top: 50px;
  border-bottom: 1px solid #ffffff;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

@mixin wrap-text {
  margin-left: 50px;
  font-size: 13px;
  margin-right: 40px;
  font-weight: normal;
}

@mixin wrap-hover {
  opacity: 1;
  background: none;
}

@mixin button {
  border: 1px solid #ffffff;
  display: inline-flex;
  align-items: center;
  color: #ffffff;
}

@mixin contact-img {
  float: left;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

@mixin contact-wrap {
  flex: 1;
}

@mixin contact-text {
  float: left;
  font-size: 10px;
}

@mixin contact-title {
  font-size: 20px;
  padding-bottom: 10px;
}

@mixin form-type {
  width: 100%;
  background-color: #2a304a;
  border: none;
  color: #ffffff;
}

@mixin language {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  height: 520px;
  opacity: 0.9;

  &-title {
    border-bottom: 1px solid #ffffff;
    font-size: 22px;
    width: 100%;
    font-weight: bolder;
    padding-bottom: 10px;
  }

  &-text {
    font-size: 16px;
    font-weight: normal;
  }
}

@mixin contact {
  border-bottom: 2px solid #2a304a;
  @include contact-wrap;
  display: flex;
  align-items: center;
  padding-left: 10%;

  &-image {
    @include contact-img;
    height: 45px;
    width: 45px;
  }

  &-text {
    @include contact-text;

    &-title {
      @include contact-title;
      font-weight: bolder;
    }
  }
}
